* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    /* font-family: sans-serif; */
       
}

html {
    height: 100%;
    scroll-padding-top: 72px;

    
}

body {
    
    display: flex;
    flex-direction: column;
    min-height: 100%;
    
}

/*****************
 MENU NAVEGACION
 *****************/
.menu-fijo {
    position: fixed;
}

.menu-todo {    
    height: 70px;
    width: 100vw;
    
   
   
    background-color: black;
}


.logo {
    height: 50px;
    margin-left: 2rem;
    /* padding-left: 30px; */
}

.menu-todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* width: 80vw; */
    margin: 0;
    padding: 0;

}

.menu-items {
    display: flex;
    align-items: center;      
    list-style: none;
    
}
.menu-items li {
    margin-right: 2rem;
}
.menu-items li a {    
    padding: 0 0px;
    
    color: white;
    text-decoration: none;
}
.menu-items li a span {
    font-size: 30px;
}
.nos {
    height: 30px !important;
}
.equipos img {
    height: 40px;
}
.galeria-logo img{
    height: 30px;
    filter: invert(100%)
}
/*****************
 MAIN - contenido - GENERALES
 *****************/


h1, h2 {
    text-align: center;

}

.wiki p {
    margin: 30px 50px;
    text-align: justify;
    font-size: 1.4rem;
}
.messi-solo {
    margin-top: 8px;
}

/*****************
 FLECHA ARRIBA
 *****************/
.siempre-al-top {
    
    display: inline;
    left: 98%;
    position: sticky;
    bottom: 116px;
    /* top: 1200px; */
    margin-top: 80vh;
    text-decoration: none;
    /* padding: 100x 10px; */
    color: black;
    /* border-radius: 0px; */
  }
  .siempre-al-top span {
    font-size: 50px;
    padding: 0;
    margin: 0;
  }
  .siempre-al-top:hover {
    color: rgb(124, 0, 128);
  }
/*****************
 FOOTER - PIE-PAGINA
 *****************/

 footer {
    margin-top: auto; /*mantiene el footer abajo cuando hay poco contenido*/
 }
 .pie-pagina {
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    background-color: black;
    
 }

 .pie-pagina img {
    margin: 0;
    height: 150px;
 }
 /*****************
 INDEX CONTENIDO-MAIN
 *****************/

 

/*****************
 PAGINA 2 CONTENIDO-MAIN
 *****************/
 /* .hero-padre {
    display: flex;
    top: 200px;

 } */
.hero-image { 
   
    /* background-image : url(./img/messi-goat2.png); */
    display: flex;
    height: 54vw;
    flex-direction: row;
    /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)) url("./img/messi-goat2.png"); */
    background-image : url(./img/messi-goat2.png);

    background-position: 0px 70px ;
    align-self: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    /* align-items: center; */
    /* justify-content: center; */
}
.hero-text {
    color: white;
}
 
/*****************
 PAGINA CONTACTO CONTENIDO-MAIN
 *****************/
.formulario {
    margin-top: 150px;
}
 #feedback-form {
    width: 500px;
    margin: 0 auto;
    background-color: #fcfcfc;
    padding: 20px 50px 40px;
    box-shadow: 1px 4px 10px 1px #aaa;
    font-family: sans-serif;
  }
  
  #feedback-form * {
      box-sizing: border-box;
  }
  
  #feedback-form h2{
    text-align: center;
    margin-bottom: 30px;
  }
  
  #feedback-form input {
    margin-bottom: 15px;
  }
  
  #feedback-form input[type=text] {
    display: block;
    height: 32px;
    padding: 6px 16px;
    width: 100%;
    border: none;
    background-color: #f3f3f3;
  }
  
  #feedback-form label {
    color: #777;
    font-size: 0.8em;
  }
  
  #feedback-form input[type=checkbox] {
    float: left;
  }
  
  #feedback-form input:not(:checked) + #feedback-phone {
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  #feedback-form #feedback-phone {
    transition: .3s;
  }
  
  #feedback-form button[type=submit] {
    display: block;
    margin: 20px auto 0;
    width: 150px;
    height: 40px;
    border-radius: 25px;
    border: none;
    color: #eee;
    font-weight: 700;
    box-shadow: 1px 4px 10px 1px #aaa;
    
    background: #207cca; /* Old browsers */
    background: -moz-linear-gradient(left, #207cca 0%, #9f58a3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #207cca 0%,#9f58a3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #207cca 0%,#9f58a3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#9f58a3',GradientType=1 ); /* IE6-9 */
  }
 